streamlit>=1.28.0
openai==0.28
dotenv==0.9.9
audio-recorder-streamlit==0.0.10
transformers==4.46.3
huggingface-hub==0.33.2
hf_xet==1.1.5
torch==2.7.1
spacy==3.8.7
spacy-lookups-data==1.0.5
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl
